<% @homepage %>
<div>
<form action="/square/new">
<div>Enter a number</div>
<input name="square" placeholder="What number do you want to take the square of?">
<div>
<button>Calculate square</button>
</form>
