<% @square_root_new %>

<form>
<div>Enter a number
<input name="square" placeholder="What number do you want the square root of?">
<div>
<button onclick="/square/results">Calculate square root</button>
</form>
